{% extends 'NEMO_facility_metrics/metrics_base.html' %}
{% block metrics_content %}

<table class="table table-bordered table-condensed thead-light">
        <thead>
        <tr>
            <th>{% include 'pagination/pagination_column.html' with order_by='tool' name='Tool' %}</th>
            <th>{% include 'pagination/pagination_column.html' with order_by='duration' name='Total Tool Duration' %}</th>
            <th>{% include 'pagination/pagination_column.html' with order_by='% use' name='% Use' %}</th>
            <th>{% include 'pagination/pagination_column.html' with order_by='duration' name='Total Outage Duration' %}</th>
            <th>{% include 'pagination/pagination_column.html' with order_by='% use' name='% Outage' %}</th>
            <th>{% include 'pagination/pagination_column.html' with order_by='% use' name='% Full Outage' %}</th>
            <th>{% include 'pagination/pagination_column.html' with order_by='% use' name='% Partial Outage' %}</th>
        </tr>
        </thead>
        <tbody>

        {% for tool in tools %}
            <tr>
                <td>{{ tool.name }}</td>
                <td>{{ tool.display_duration }}</td>
                <td>{{ tool.display_percentage_duration }}</td>
                <td>{{ tool.display_outage_duration }}</td>
                <td>{{ tool.display_outage_percentage_duration }}</td>
                <td>{{ tool.display_resource_percentage_duration }}</td>
                <td>{{ tool.display_resource_percentage_partial_duration }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
